In [33]:
import json
import re
import os
import numpy as np
import pandas as pd

In [3]:
# export_path = '/mnt/c/' + r'\Users\Drake\Documents\Dyson Sphere Program\dsp_seedexporter'.replace('\\', '/')
export_path = '/run/user/1000/gvfs/smb-share:server=chonyi.local,share=dsp_seedexporter/'
seed_re = re.compile(r'seed_(?P<seed>\d{8}).json')

In [4]:
files = sorted(filter(seed_re.match, os.listdir(export_path)))
seeds = list(map(lambda x: seed_re.match(x).group('seed'), files))

In [5]:
file = files[0]
with open(os.path.join(export_path, file)) as fd:
    universe = json.load(fd)

In [40]:
distance = pd.DataFrame.from_records(data=[(k1, sum(np.fromiter(v1['position'].values(), dtype='float') ** 2) ** 0.5) for k1, v1 in universe['star'].items()], columns=['star', 'abs. dist.'])

In [43]:
distance.sort_values('abs. dist.')

                star  abs. dist.
0       Delta Librae    0.000000
1     Kappa Octantis    2.962383
3     Epsilon Bootis    3.980839
2   29 Canis Majoris    5.103732
4      Theta Doradus    5.277552
..               ...         ...
58     η Monocerotis   31.073978
53              Choo   31.212935
44       Kornephoros   31.236804
52         Ashtaroth   32.733676
51             Zosma   35.910939

[64 rows x 2 columns]